.modal {
  width: 700px;
  margin: 0 auto;
  padding: 0 25px;

  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px #ccc;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1200;
}
